################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PictureNavigator/PictureNavigator/bin/Debug
/PictureNavigator/PictureNavigator/obj/Debug
/PictureNavigator/PictureNavigator/obj/Debug
